:root {
    --primary-color: #F7F5F3;
    --secundary-color: #EFEDEB;
    --third-color: #eccfc6;
    --fourth-color: #F0EEED;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* PARTE LATERAL ESQUERDA*/
.barra-left {
    border: 1px solid var(--secundary-color);
    width: 50px;
    height: 100%;
    padding: 5px 5px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#settings:hover {
    transform: rotate(180deg);
    transition: 1.2s;
}

#status:hover {
    transform: rotate(180deg);
    transition: 1.2s;
}

.icons-botton {
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icons-top {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icons-top img {
    height: 28px;
    border: 3px solid transparent;
    border-radius: 31px;
}

.icons-top img:hover {
    border-color: var(--third-color);
}

.icons-botton img {
    height: 28px;
    border: 3px solid transparent;
    border-radius: 31px;
}

.icons-botton img:hover {
    border-color: var(--third-color);
}

.perfil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

.perfil-img img {
    height: 25px;
    width: 25px;
}


/* PARTE CENTRAL*/
.area-meio {
    gap: 12px;
    border: 1px solid var(--secundary-color);
    background-color: #FFFFFF;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.titulo-adicione-conversa-configurar h1 {
    color: #1daa61;
    font-weight: 700;
    font-size: 25px;
}

.titulo-adicione-conversa-configurar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.adicione-conversa-configurar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.adicione-conversa-configurar img {
    height: 20px;
    width: 20px;
}

.adicione-conversa-configurar img:hover {
    opacity: 70%;
}
.container {
    padding: 10px 10px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.pesquisar-contato {
    border: 1px solid black;
    border-radius: 30px;
    padding: 0px 10px;
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pesquisar-contato img {
    height: 20px;
    width: 20px;
}
.pesquisar-contato input {
    border: none;
    padding: 0px 8px;
    outline: none;
    box-shadow: none;
    height: 30px;
    width: 100%;
}
.pesquisar-contato input:focus-visible {
    border: none;

}
.pessoas {
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.pessoas .config{
    display: flex;
    flex-direction: row;
    gap: 12px;

}
.nome-contato-descricao{
    display: flex;
    flex-direction: column;
}
.perfil-contatos {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-contatos img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
/* PARTE LATERAL DIREITA*/
.area-right {
    border: 1px solid var(--secundary-color);
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.perfil-conversa-top {
    position: relative;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;

}

.perfil-conversa-top .left {
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;

}

.nome-numero {
    display: flex;
    flex-direction: column;
}

.perfil-conversa-top .left .nome-numero .nome span {
    font-size: 1rem;
}

.perfil-conversa-top .left .nome-numero .numero span {
    font-size: 0.8rem;
}

.perfil-conversa-top .right {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;

}

.perfil-conversa-top .right img {
    height: 30px;
    width: 30px;

}

.perfil-conversa-top .right img:hover {
    transition: 0.2s;
    opacity: 60%;

}

.perfil-conversa {
    height: 35px;
    width: 35px;
}

.perfil-conversa img {
    height: 35px;
    width: 35px;
    border: 3px solid transparent;
    border-radius: 38px;
}

.perfil-conversa img:hover {
    border-color: var(--third-color);
}

.conversa-medio {
    height: 86%;
    background-color: #C4E6FE;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 12px;

}

.conversa-medio .menssager-remetente {
    display: flex;
    justify-content: space-between;
}

.conversa-medio .menssager-destinatario {
    display: flex;
    justify-content: space-between;

}

.menssager-destinatario .mensagem {
    width: auto;
    background-color: #e4bcff;
    padding: 10px;
    gap: 12px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.menssager-remetente .mensagem {
    width: auto;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.menssager-destinatario span {
    display: flex;
    justify-content: end;
}

.menssager-destinatario .horario span,
.menssager-remetente .horario span {
    font-size: 0.8rem;
}

.chat-conversa-botton {
    position: relative;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 5px 20px 5px 20px;
}

.chat-conversa-botton img {
    height: 30px;
    width: 30px;
}

.chat {
    gap: 5px;
    padding: 20px 10px;
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70%;
    width: 80%;
    border-radius: 50px;

}

.chat input {
    height: 30px;
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    box-shadow: none;
}

#enviar {
    border: 3px solid transparent;
    height: 25px;
    width: 28px;
    display: none;
}

#microfone {
    display: block;
    border: 3px solid transparent;
    height: 30px;
    width: 28px;
    border-radius: 28px;
}

#enviar:hover {
    opacity: 70%;
}

#microfone:hover {
    border-color: aquamarine;
    opacity: 70%;
}

.chat:focus-within~#enviar {
    display: block;
}

.chat:focus-within~#microfone {
    display: none;
}